.main-div {
  background-image: url(../../../images/Login/login-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}
.login-section {
  /* background-color: #212529; */
  width: 50%;
  margin: 0 auto;
  background-color: #212529;
}
.green-bg {
  background-color: #6cbe03;
}
.green-text {
  color: #6cbe03;
}
