.input-section {
  width: 60%;
  margin: 0 auto;
}
.input-section input {
  border-radius: 50px;
  border: none;
}
.input-section button {
  border-radius: 20px;
  background-color: #6cbe03;
  color: #fff;
  border: none;
}
