.App {
  overflow: hidden;
}

.text-color {
  color: #6cbe03;
}

.green-bg{
  background-color: #6CBE03;
}
.font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #545454;
}
